
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Document

		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-114x114.png")

		link(rel="stylesheet" href="css/style.min.css?rev=@@hash")

	body
		header.header
			.navbar
				.col-md-2
					img.img(src='img/logo.png', alt='')
				.col-md-10
					.row.align-items-center
						.col-11
							.nav
								a.nav-link(href='#') Home
								a.nav-link(href='#') Portfolios
								a.nav-link(href='#') Blog
								a.nav-link(href='#') Contact
								a.nav-link(href='#') Shop
								a.nav-link(href='#') Contact us
						.col
							.search.text-right
								i.fa.fa-search
		section.slider
			.web-text
				h2.web Web development project
				h3 Very suitable to support all web development projects
				.web-btn Our services
				.web-btn Here is now
		section.about
			.about-title
				h1.main-title About us
				.info-text
					p.icon__text
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, assumenda modi iure aspernatur harum architecto molestiae esse commodi qui aut, excepturi dolore saepe quas et reiciendis obcaecati quibusdam distinctio? Officiis.
			.icons
				.icons__item
					img.img-fluid(src='img/internet.png')
					h1.icon-title Awesome Icons
					p.icon-text
						| Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo sit eligendi beatae! Provident illum magni.
				.icons__item
					img.img-fluid(src='img/transfer.png')
					h1.icon-title One Page
					p.icon-text
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi possimus cum doloremque libero aperiam pe.
				.icons__item
					img.img-fluid(src='img/head.png')
					h1.icon-title Fully Responsive
					p.icon-text
						| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae totam dignissimos neque nesciunt distinctio.

		section.services
			.services-text
				h2.main-text Our services
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus unde distinctio sed voluptate amet, quasi deserunt expedita porro incidunt sequi.

			.wrapper
				.card
					i.fa.fa-mobile.f1.f1 
					h3.card__title Research
					p.p1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis consequatur molestias dignissimos! Quia eligendi, repellat saepe a tenetur suscipit.
					.read-more Read more
				
				.card
					i.fa.fa-mobile.f1
					h3.card__title Research
					p.p1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis consequatur molestias dignissimos! Quia eligendi, repellat saepe a tenetur suscipit.
					.read-more Read more

				.card
					i.fa.fa-mobile.f1
					h3.card__title Research
					p.p1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis consequatur molestias dignissimos! Quia eligendi, repellat saepe a tenetur suscipit.
					.read-more Read more

			.wrapper
				.card
					i.fa.fa-mobile.f1
					h3.card__title Research
					p.p1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis consequatur molestias dignissimos! Quia eligendi, repellat saepe a tenetur suscipit.
					.read-more Read more
				
				.card
					i.fa.fa-mobile.f1
					h3.card__title Research
					p.p1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis consequatur molestias dignissimos! Quia eligendi, repellat saepe a tenetur suscipit.
					.read-more Read more

				.card
					i.fa.fa-mobile.f1
					h3.card__title Research
					p.p1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis consequatur molestias dignissimos! Quia eligendi, repellat saepe a tenetur suscipit.
					.read-more Read more
			
		sectiom.works
			h2.works__text Latest works
			p.works__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam esse possimus error consequatur rem repudiandae sit, animi officiis eligendi.

				ul.works__nav
					li.works-nav__list All
					li.works-nav__list Web Design
					li.works-nav__list UI/UX Design
					li.works-nav__list Mockups

			.photos
				img.img(src="../img/watch.png", alt="")
				img.img(src="../img/2.png", alt="")
				img.img(src="../img/3.png", alt="")

			.photos
				img.img(src="../img/4.png", alt="")
				img.img(src="../img/5.png", alt="")
				img.img(src="../img/6.png", alt="")

			.tap
				a.tap__link(href="#") View All

		section.plan
			h2.pricing-text Pricing Plan
			p.pricing-text__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error blanditiis dicta fugiat nobis, consectetur laborum. Sint inventore animi autem nesciunt?

			ul.pricing__list
				li.pricing__item
					header.pricing__header
						.pricing__title Free Trail
						.pricing__cost
							| $
							span.dol 00
							| per month
					.pricing__info1
						.pricing__info 30 Free 
						.pricing__info 5 Free Projects
						.pricing__info PHP 5 Enabled
						.pricing__info 24/7 Supports
						.pricing-btn 
							a.pricing-btn__link(href="#") Order Now

				li.pricing__item
					header.pricing__header
						.pricing__title Free Trail
						.pricing__cost
							| $
							span.dol 00
							| per month
					.pricing__info1
						.pricing__info 30 Free 
						.pricing__info 5 Free Projects
						.pricing__info PHP 5 Enabled
						.pricing__info 24/7 Supports
						.pricing-btn 
							a.pricing-btn__link(href="#") Order Now
						
				li.pricing__item
					header.pricing__header
						.pricing__title Free Trail
						.pricing__cost
							| $
							span.dol 00
							| per month
					.pricing__info1
						.pricing__info 30 Free 
						.pricing__info 5 Free Projects
						.pricing__info PHP 5 Enabled
						.pricing__info 24/7 Supports
						.pricing-btn 
							a.pricing-btn__link(href="#") Order Now
				

		





















			.team-member
					h2.member-text Our team member
					p.member-text__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nulla consequuntur culpa odit quis accusantium commodi autem aut quos beatae. Lorem ipsum dolor sit.

			.members
				.man
					img(src="../img/member 1.png")
					.name John Doe
					.who General Manager
					.social
						<i class="fa fa-facebook-square .f2"></i>
						<i class="fa fa-twitter"></i>
						<i class="fa fa-comments"></i>
						<i class="fa fa-dribbble"></i>

				.man
					img(src="../img/member 2.png")
					.name Alexa Biru
					.who Office Director
					.social
						<i class="fa fa-facebook-square"></i>
						<i class="fa fa-twitter"></i>
						<i class="fa fa-comments"></i>
						<i class="fa fa-dribbble"></i>


				.man
					img(src="../img/member 3.png")
					.name Ronobir sing
					.who Admin
					.social
						<i class="fa fa-facebook-square"></i>
						<i class="fa fa-twitter"></i>
						<i class="fa fa-comments"></i>
						<i class="fa fa-dribbble"></i>

				.point

		section.blog
			h2.blog-text Blog
			p.blog-text__title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, ut fugiat. Doloribus ut obcaecati distinctio omnis dolor odit suscipit voluptatibus?

			.main
				ul.blog-wrap
					li.blog-wrap__content
						img.blog-img(src="../img/blog1.png", alt="")
						.vh
							h2.blog-text SEO Quis Vestibulum
							p.blog-text__second <i class="fa fa-calendar">14.0702017</i> <i class="fa fa-file-o">
							p.blog-text__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nesciunt, alias molestiae et ipsam nisi veniam dignissimos libero deleniti. Eligendi, molestiae. Animi in molestias exercitationem?




		script(src="js/libs.min.js")
		script(src="js/common.js")
