// .team-member
//   padding: 40px 0
//   text-align: center
  

// .member-text__title
//   width: 600px
//   margin: 0 auto

.members
  // max-width: 1170px
  // margin: 0 auto
  display: flex

.man
  text-align: center
  margin: 0 auto
  width: 80%
